*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    transition: 0.2s 
}

body , #root{
    width: 100vw;
    height: fit-content;
    font-family: 'roboto' , Arial, Helvetica, sans-serif;
}


.logo{
    user-select: none;
    -webkit-user-select: none;
}


a{
    text-decoration: none;
}